* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about__container {
  font-size: 30px;
  width: 700px;
  height: 200px;
  margin: 30vh auto;
  background-color: azure;
  padding: 20px;
  box-shadow: 10px 10px 10px gray;
  animation: fadeIn 0.5s linear;
}

span {
  display: block;
}
