@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.movies {
  margin-left: 50px;
  animation: fadeIn 0.5s linear;
}

.movie {
  float: left;
  width: 400px;
  height: 170px;
  margin: 25px;
  position: relative;
}

.movie__page {
  float: left;
  width: 400px;
  height: 150px;
  margin: 25px;
  background-color: #f1f2f6;
  box-shadow: 5px 5px 15px 5px gray;
}

.movie__img {
  float: left;
  position: absolute;
  top: 20px;
  left: 35px;
  width: 100px;
  height: 150px;
  box-shadow: 5px 5px 15px 5px gray;
}

.movie__data {
  float: right;
  width: 255px;
  height: 300px;
  font-size: 0.6rem;
  margin-right: 20px;
}

.movie__title {
  font-size: 1rem;
  margin: 10px 0 10px 0;
  color: black;
}

.movie__genres {
  margin: 10px 0;
  color: #747d8c;
}

.movie__rating {
  margin: 0;
  color: #747d8c;
}

.movie__summary {
  overflow: hidden;
  height: 110px;
  color: #747d8c;
  margin: 10px 0;
}
